.forecast-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.forecast-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/*ENDING ON THE FORECAST TILES*/