# mod_rewrite starts here

RewriteEngine on

# DOES NOT APPLY TO EXISTING DIRECTORIES WITH THE SAME NAME AS A FILE
RewriteCond %{REQUEST_FILENAME} !-d

# CHECK FOR FILE WITH .HTML EXTENSION
RewriteCond %{REQUEST_FILENAME}\.html -f

# SHOW THE PAGE THAT HAS THE .HTML EXTENSION --MINUS THE HTML EXT --IGNORE UPPERCASE
RewriteRule ^(.*)$ $1.html [NC,L]
