.current-details-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.current-details-wrapper {
    display: flex;
    width: 75vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.line-break {
    width: 75vw;
    border-color: black;

}

