.forecast-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    /*border: 1px black solid;*/
    border-radius: 10px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.4);

    background-color: rgba(1, 1, 1, 0.3);
    color: whitesmoke;
}

.forecast-tile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 85px;
    padding: 10px 5px;
    text-align: center;
}

.forecast-tile-wrapper p {
    margin: 0;
}

.forecast-tile img {
    height: 75px;
    width: 75px;
}

.forecast-tile-condition {
    padding-top: 10px;
}

.forecast-temp-range {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}