.forecast-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vh 12vw 10vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.forecast-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

/*ENDING ON THE FORECAST TILES*/