.navbar {
    --transition-time: 0.4s;
    --transition-time-button: 0.25s;
    --anim-time: 0.4s;
    --logo-underline-color: white;

    display: flex;
    gap: 20px;
    width: 100%;
    height: 7vh;
    align-items: center;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    animation: navbar-anim var(--anim-time) ease-in-out 0.1s;
    transition: opacity var(--transition-time) ease-in-out;
    -moz-transition: opacity var(--transition-time) ease-in-out;
    -webkit-transition: opacity var(--transition-time) ease-in-out;
}

.navbar:hover {
    opacity: 1.0 !important;
}

.navbar:has(.zip-code-value:active) {
    opacity: 1.0 !important;
}

.navbar-light-theme {
    background-color: #F2F1E6;
    color: black;
}

.navbar-light-theme p {
    color: black;
}

.navbar-light-theme a {
    color: black;
}

.navbar-light-theme a:hover {

}

.navbar-dark-theme {
    background-color: black;
    color: whitesmoke;
}

.navbar-dark-theme p {
    color: white;
}

.navbar-dark-theme a {
    color: white;
}

.navbar-dark-theme a:hover {

}

.navbar a {
    text-decoration: none;
    text-underline-color: white;
    /*transition: all var(--transition-time) ease-in-out;*/
    /*-moz-transition: all var(--transition-time) ease-in-out;*/
    /*-webkit-transition: all var(--transition-time) ease-in-out;*/
}

/*LOGO UNDERLINE EFFECT/ANIM START*/
.underline-hover-right {
    display: flex;
    padding-bottom: 0.25rem;
    position: relative;
}

.underline-hover-right::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--logo-underline-color);
    transition: width 0.25s ease-out;
}

.underline-hover-right:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}
/*LOGO UNDERLINE EFFECT/ANIM END*/

.navbar a {
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.theme-icon {
    padding: 8px;
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    position: absolute;
    right: 20px;
}

.theme-icon:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: none;
}

.light-icon {
    background-color: whitesmoke;
    color: black;
    transition: all var(--transition-time-button) ease-in-out;
    -moz-transition: all var(--transition-time-button) ease-in-out;
    -webkit-transition: all var(--transition-time-button) ease-in-out;
}

.dark-icon {
    background-color: grey;
    color: whitesmoke;
    transition: all var(--transition-time-button) ease-in-out;
    -moz-transition: all var(--transition-time-button) ease-in-out;
    -webkit-transition: all var(--transition-time-button) ease-in-out;
}

.zip-mobile-button {
    display: none;
    padding: 8px;
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    position: absolute;
    right: 80px;
    transition: all var(--transition-time-button) ease-in-out;
    -moz-transition: all var(--transition-time-button) ease-in-out;
    -webkit-transition: all var(--transition-time-button) ease-in-out;
}

.zip-mobile-button:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: none;
}

.exit-zip-mobile {
    padding: 8px;
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background-color: whitesmoke;
    color: black;

    position: absolute;
    right: 80px;

    transition: all var(--transition-time) ease-in-out;
    -moz-transition: all var(--transition-time) ease-in-out;
    -webkit-transition: all var(--transition-time) ease-in-out;
}

.exit-zip-mobile:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: none;
}

.navbar-elem-mobile-active {
    animation: display-flex-transition var(--anim-time) ease-in-out;
    opacity: 1;
    transform: translateY(0);
    transition: all var(--transition-time) ease-in-out;
}

.navbar-elem-mobile-inactive {
    opacity: 0;
    transform: translateY(-150%);
    transition: all var(--transition-time) ease-in-out;
}

.zip-section {
    display: flex;
    flex-direction: row;
    text-align: right;
    position: absolute;
    transition: all var(--transition-time) ease-in-out;
    -moz-transition: all var(--transition-time) ease-in-out;
    -webkit-transition: all var(--transition-time) ease-in-out;
}

.zip-section-mobile {
    right: 140px;
}

.zip-section-desktop {
    right: 80px;
}

.zip-section-active{
    opacity: 1;
    transform: translateY(0);
}

.zip-section-inactive{
    opacity: 0;
    transform: translateY(-150%);
}

.zip-section-label {
    font-size: 20px;
    margin-right: 20px;
}

/*ANIMATIONS*/

/*NAVBAR'S ANIM*/
@keyframes navbar-anim {
    from {
        transform: translateY(-150%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*FOR ALL NAVBAR ELEMS*/
@keyframes display-flex-transition {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }

    100% {
         opacity: 1;
         transform: translateY(0);
     }
}

@keyframes zip-desktop-anim {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-150%);
    }
}

/* MEDIA QUERIES START */

/* IPHONE SE -- 375x667 (WIDTHxHEIGHT) */
@media screen and (width: 375px) and (height: 667px){
    .navbar a {
        font-size: 14px;
    }
    .theme-icon {
        font-size: 16px !important;
    }
    .zip-mobile-button {
        right: 63px;
    }
    .exit-zip-mobile {
        right: 63px;
    }
    .zip-section-mobile {
        right: 110px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 13px !important;
        margin-top: 3px;
    }
}

/* IPHONE XR -- 414x896 (WIDTHxHEIGHT) */
@media screen and (width: 414px) and (height: 896px){
    .navbar a {
        font-size: 16px;
    }
    .theme-icon {
        font-size: 18px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 16px !important;
    }
}

/* IPHONE 12 -- 390x844 (WIDTHxHEIGHT) */
@media screen and (width: 390px) and (height: 844px){
    .navbar a {
        font-size: 17px;
    }
    .theme-icon {
        font-size: 20px !important;
    }
    .zip-mobile-button {
        right: 65px;
     }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 14px !important;
    }
}

/* IPHONE 12 -- 390x844 (WIDTHxHEIGHT) -- GENERAL IPHONE 12 SUPPORT*/
@media screen and (max-width: 390px) and (max-height: 844px){
    .navbar a {
        font-size: 17px;
    }
    .theme-icon {
        font-size: 20px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 14px !important;
    }
}

/* IPHONE 14 MAX -- 430x932 (WIDTHxHEIGHT) */
@media screen and (width: 430px) and (height: 932px){
    .navbar a {
        font-size: 16px;
    }
    .theme-icon {
        font-size: 20px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 16px !important;
    }
}

/* PIXEL 7 -- 412x915 (WIDTHxHEIGHT) */
@media screen and (width: 412px) and (height: 915px){
    .navbar a {
        font-size: 15px;
    }
    .theme-icon {
        font-size: 18px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 15px !important;
    }
}

/* GALAXY S8+ -- 360x740 (WIDTHxHEIGHT) */
@media screen and (width: 360px) and (height: 740px){
    .navbar a {
        font-size: 16px;
    }
    .theme-icon {
        font-size: 17px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 113px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 11px !important;
        margin-right: 10px;
        margin-top: 3px;
        text-align: center;
    }
}

/* GALAXY S20 ULTRA -- 412x915 (WIDTHxHEIGHT) */
@media screen and (width: 412px) and (height: 915px){
    .navbar a {
        font-size: 17px;
    }
    .theme-icon {
        font-size: 20px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 14px !important;
    }
}

/* IPAD MINI -- 768x1024 (WIDTHxHEIGHT) */
@media screen and (width: 768px) and (height: 1024px){
    .navbar a {
        font-size: 20px;
    }
    .theme-icon {
        font-size: 24px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 20px !important;
    }
}

/* IPAD AIR -- 820x1180 (WIDTHxHEIGHT) */
@media screen and (width: 820px) and (height: 1180px){
    .navbar a {
        font-size: 22px;
    }
    .theme-icon {
        font-size: 26px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 22px !important;
    }
}

/* IPAD PRO -- 1024x1366 (WIDTHxHEIGHT) */
@media screen and (width: 1024px) and (height: 1366px){
    .navbar a {
        font-size: 26px;
    }
    .theme-icon {
        font-size: 28px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 26px !important;
    }
}

/* SURFACE PRO 7 -- 912x1368 (WIDTHxHEIGHT) */
@media screen and (width: 912px) and (height: 1368px){
    .navbar a {
        font-size: 24px;
    }
    .theme-icon {
        font-size: 26px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 24px !important;
    }
}

/* SURFACE DUO -- 540x720 (WIDTHxHEIGHT) */
@media screen and (width: 540px) and (height: 720px){
    .navbar a {
        font-size: 18px;
    }
    .theme-icon {
        font-size: 18px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 18px !important;
    }
}

/* GALAXY FOLD -- 912x1368 (WIDTHxHEIGHT) */
@media screen and (width: 280px) and (height: 653px){
    .navbar a {
        font-size: 12px;
    }
    .theme-icon {
        font-size: 12px !important;
        right: 10px;
    }
    .zip-mobile-button {
        right: 45px;
    }
    .exit-zip-mobile {
        right: 45px;
    }
    .zip-section-mobile {
        right: 85px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 11px !important;
    }
    .zip-code-value {
        font-size: 10px;
    }
}

/* GALAXY A51/71 -- 412x914 (WIDTHxHEIGHT) */
@media screen and (width: 412px) and (height: 914px){
    .navbar a {
        font-size: 18px;
    }
    .theme-icon {
        font-size: 20px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 18px !important;
    }
}

/* NEST HUB -- 1024x600 (WIDTHxHEIGHT) */
@media screen and (width: 1024px) and (height: 600px){
    .navbar {
        height: 10vh;
    }
    .navbar a {
        font-size: 24px;
    }
    .theme-icon {
        font-size: 26px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 120px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 24px !important;
    }
}

/* NEST HUB MAX -- 1280x800 (WIDTHxHEIGHT) */
@media screen and (width: 1280px) and (height: 800px){
    .navbar {
        height: 10vh;
    }
    .navbar a {
        font-size: 26px;
    }
    .theme-icon {
        font-size: 28px !important;
    }
    .zip-mobile-button {
        right: 65px;
    }
    .exit-zip-mobile {
        right: 65px;
    }
    .zip-section-mobile {
        right: 130px;
        align-content: center;
        justify-content: center;
    }
    .zip-section-label {
        font-size: 26px !important;
    }
}
