body {
    margin: 0;
    padding: 0;
}

.body-dark-theme {
    background-color: #457EAC;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000000;
}

.body-light-theme {
    background-color: #87CEEB;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000000;
}